
html{
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkslategray;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header{
    display: grid;
    grid-template-areas: "NavL Header NavR";
    grid-template-columns: 3fr / 6fr / 3fr;
    height: 80px;
}

header h1{
    grid-area: Header;
    text-align: center;
    font-size: 3em;
    margin: auto;
}

nav{
    text-align: center;
    font-size: 1.1em;
}

nav a{
    text-decoration: none;
    padding: 0.5em ;
    color: rgb(200, 100, 40);
}

ul.left{
    grid-area: NavL;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
}

ul.right{
    grid-area: NavR;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px;
    margin-top: 30px;

}

nav li{
    display: inline-table;
    border: 1px solid rgb(200, 100, 40);
}

/* Main website */

/* About */

main img{
    max-width: 100%;
}

.about{
    text-align: center;
    margin: auto;
    max-width: 50%;
}

/* Members */
.members{
    display: grid;
    grid-template-areas: 
    "title title title title title"
    "a b c d e";
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center;
    
}

.members h1{
    grid-area: title;
}

.members img{
    border-radius: 50%;
}

.members p{
    margin: auto;
}

.a .b .c .d .e{
    display: flex;
    flex-wrap: wrap;
}

/* Activities */
.activities{
    display: grid;
    text-align: ;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.activities h1{
    text-align: center;
    grid-column: 1 / span 4;
}

.activities div h3{
    text-align: center;
}

.activities div{
    min-width: 130px;
}

.activities .a{
    border: 1px solid rgb(200, 100, 40);
    grid-column: 1;
    grid-row: 2;
}

.activities .b{
    border: 1px solid rgb(200, 100, 40);
    grid-column: 2;
    grid-row: 2;
}

.activities .c{
    border: 1px solid rgb(200, 100, 40);
    grid-column: 3;
    grid-row: 2;
}

.activities .d{
    border: 1px solid rgb(200, 100, 40);
    grid-column: 4;
    grid-row: 2;
}

@media only screen AND (max-width: 480px){
    .activities{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px / 1fr / 1fr;
        gap: 10px; 
        overflow-wrap: normal;
    }

    .activities h1{
        text-align: center;
        grid-column: 1 / span 2;
    }

    .activities .a{
        grid-column: 1;
        grid-row: 2;
    }
    
    .activities .b{
        grid-column: 2;
        grid-row: 2;
    }
    
    .activities .c{
        grid-column: 1;
        grid-row: 3;
    }
    
    .activities .d{
        grid-column: 2;
        grid-row: 3;
    }

}

/* Footer */

footer{
    color: rgb(200, 100, 40);
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.75em;
    background-color: rgb(0, 0, 0, 0.5);

}

footer p{
    text-align: end;
    margin-top: 60px;
    margin-bottom: 0;
}

.contact ul{
    text-decoration: none;
}